<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Spot it</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#224466">
  <meta name="apple-mobile-web-app-title" content="Spot it">
  <meta name="application-name" content="Spot it">
  <meta name="msapplication-TileColor" content="#224466">
  <meta name="theme-color" content="#224466">  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/cookies.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>
  <div class="input-group menu">
    <button id="help" class="btn btn-outline-secondary" onclick="help()"><i class="bi bi-question-circle"></i></button>
    <select id="num-objects" name="num-objects" class="form-select gameparam">
      <option value="1">Spot 1 object</option>
      <option value="3">Spot 3 objects</option>
      <option value="5">Spot 5 objects</option>
      <option value="10">Spot 10 objects</option>
    </select>
    <select id="max-objects" name="max-objects" class="form-select gameparam">
      <option value="50">In 50</option>
      <option value="100">In 100</option>
      <option value="200">In 200</option>
      <option value="500">In 500</option>
    </select>
    <button id="start" class="btn btn-outline-secondary" onclick="startMatch()"><i class="bi bi-flag"></i></button>
    <button id="match" class="btn btn-outline-secondary" onclick="copyMatchLinkClipboard('matchlink')"><i
        class="bi bi-people-fill"></i></button>
    <button id="leave-match-button" class="btn btn-outline-secondary" onclick="leaveMatch()"
      style="display: none; flex-grow: 1">
      <i class="bi bi-x-square"></i> Leave match</button>
  </div>
  <div class="input-group menu">
    <select id="turns" name="turns" class="form-select gameparam">
      <option value="3">3 rounds</option>
      <option value="5">5 rounds</option>
      <option value="7">7 rounds</option>
      <option value="10">10 rounds</option>
      <option value="20">20 rounds</option>
      <option value="99">99 rounds</option>
    </select>
    <select id="limit" name="limit" class="form-select gameparam">
      <option value="1">1 min</option>
      <option value="2">2 min</option>
      <option value="3">3 min</option>
      <option value="5">5 min</option>
    </select>
    <select id="level" name="level" class="form-select gameparam">
      <option value="1">Lvl 1</option>
      <option value="2">Lvl 2</option>
      <option value="3">Lvl 3</option>
    </select>
  </div>
  <div id="to-spot-div" style="display: none"></div>
  <div class="game" data-turn="{{turn}}" data-turns="{{turns}}" data-limit="{{limit}}" data-matchid="{{matchid}}"
    data-num-objects="{{num_objects}}" data-level="{{level}}" data-max-objects="{{max_objects}}">
  </div>
  <div class="help help0" role="alert" title="Click to remove" onclick="$('.help').hide();" style="display: none;">
    <p>
      Spot selected objects among other objects!
    </p>
    <p>
      Game is intended to be played with others - just share the link to the game with your friends. You are the host and game starts for everyone when you start it.
	  If nobody is present you can just play solo and beat the best times.	
    </p>
    <p>
      Before starting you can choose number of object to spot and number of objects displayed on the screen.<br>
	  For match purposes choose number of rounds, amount of time per round and level of dificculty.
	  As the level is higher the size difference between objects increases, they are rotated more and they shift color.
    </p>
	
  </div>
  
  <div id="match-results" class="help" style="text-align: center; display: none;"></div>
  <div id="nickname-div" style="text-align: center; display: none;">
    <div class="input-group" style="width: auto; margin-top: 2px;">
      <span class="input-group-text">Nickname</span>
      <input id="nickname" class="form-control" type="text" placeholder="">
	  <button id="set" class="btn btn-outline-secondary" onclick="setNick()"><i class="bi bi-check"> Set</i></button>
    </div>
  </div>

  <div id="game-info">
	<span id="match-turn"></span><span id="time-left"></span><span id="match-players-num"></span><span id="match-players"></span>
  </div>
  <input id="matchlink" class="offscreen" readonly type="text">
   
  <div id="status" role="alert" title="Click to remove" onclick="$('#status').empty();">

</body>